<!DOCTYPE html>
<html>
<head>
  <title>Syrah</title>
  <%= stylesheet_link_tag    "syrah/application", media: "all" %>
  <%= javascript_include_tag "syrah/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
